body {
    background-color:#a7917bf9;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#firstDiv {
    width: 90%;
    max-width: 600px;
    border: 3px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    background-image: url(images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#myImg {
    width: 50%;
    max-width: 200px;
    border: 3px solid;
    border-radius: 500px;
    margin-top: 10px;
}
#myH1 {
    font-size: 40px;
    color: #95806b;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200px;
    text-shadow: 1px 1px black;
}
#myH3 {
    font-size: 22px;
    color: #a08a73;
    font-style:oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
.classA {
    font-size: 22px;
    color: #9a8670f9;
    font-style:italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-shadow: 1px 1px black;
}
#myGallery {
    font-size: larger;
    color: #998470;
    font-weight: bold;
}
#myGallery:active {
    color: rgb(27, 26, 26);
}
.myB {
    padding: 6px;
    border-radius: 9px;
    background-color: transparent;
    color: black;
    border-color: black;
}
.myB:hover {
    background-color:#a28c77 ;
   
}