#firstTitle {
    color:#d1b28c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    text-align: center;
}

#secondTitle {
    color: #78784f;
    text-align: center;
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 19px;
}

#firstDiv {
    width: 80%;
    max-width: 600px;
    height: 500px;
    background-image:url(images/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border: 3px solid;
    margin: auto;
    margin-top: 35px;
} 

.myIcon {
    color:#a68d6e ;
    font-size: 38px;
}
li {
    color: #b79b78;
}
#myB {
    padding: 5px;
    font-size: large;
    font-weight: bold;
    background-color:#c1ac80;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 140px;
    border: none;
}

#myB:active {
    background-color:transparent;
    border-color:transparent;
}




